<h1>Student Attendance</h1>

<a asp-controller="Attendance" asp-action="addIndex">Add Attendance</a>
<br />
<a asp-controller="Attendance" asp-action="EditAttendance">Edit Attendance</a>
<br />
<a asp-controller="Attendance" asp-action="ViewSubject">View Attendance by Subject</a>
<br />
<a asp-controller="Attendance" asp-action="ViewStudent">View Attendance by Student</a>
<br />
